# Django
SECRET_KEY=your-django-secret-key-here
DEBUG=True

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/beauty_ecommerce

# M-Pesa Daraja API
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=your-consumer-key
MPESA_CONSUMER_SECRET=your-consumer-secret
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your-passkey
API_BASE_URL=https://sandbox.safaricom.co.ke
API_VERSION=v1
OAUTH_ENDPOINT=/oauth/v1/generate?grant_type=client_credentials
STK_PUSH_ENDPOINT=/mpesa/stkpush/v1/processrequest
MPESA_CALLBACK_URL=https://your-ngrok-url.ngrok-free.app/api/v1/payments/callback/

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=Glow Beyond Beauty <noreply@glowbeyond.com>

# Frontend
FRONTEND_URL=http://localhost:3000

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0
ADMIN_SITE_URL=http://localhost:3001/admin
